<!DOCTYPE html>
<html>
  <head>
    <title>Shoppingcart</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<!--  <div class="container">-->
    <%#= link_to "Home", root_path %>

    <%#= if user_signed_in? %>
      <%#= link_to "Sig Out", destroy_user_session_path, method: :delete %>
    <%# elsif !seller_signed_in? && !admin_signed_in? %>
      <%#= link_to "Sign In", new_user_session_path %>
    <%#= end %>

    <%#= if seller_signed_in? %>
      <%#= link_to "Sig Out", destroy_seller_session_path, method: :delete %>
    <%# elsif !seller_signed_in? && !admin_signed_in? %>
      <%#= link_to "SignIn as Seller", new_seller_session_path %>
    <%#= end %>

    <%#= if admin_signed_in? %>
      <%#= link_to "Sig Out", destroy_admin_session_path, method: :delete %>
    <%# elsif !user_signed_in? && !seller_signed_in? %>
      <%#= link_to "SignIn as Admin", new_admin_session_path %>
    <%#= end %>

<%= yield %>

<!--  </div>-->
  </body>
</html>
